In [41]:
#District Summary
 #Calculate the total number of schools
 #Calculate the total number of students
 #Calculate the total budget
 #Calculate the average math score 
 #Calculate the average reading score
 #Calculate the percentage of students with a passing math score (70 or greater)
 #Calculate the percentage of students with a passing reading score (70 or greater)
 #Calculate the percentage of students who passed math and reading (% Overall Passing)
 #Create a dataframe to hold the above results
   #Optional: give the displayed data cleaner formatting

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
# Read Student Data File and store into Pandas DataFrames
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
#total number of schools
school_count = len(school_data_df["school_name"].unique())
print(school_count)

15

In [8]:
#total number of students
student_count = student_data_df["Student ID"].count()
student_count

39170

In [9]:
#total budget
total_budget = school_data_df["budget"].sum()
print (total_budget)

24649428

In [29]:
# average of the reading column
reading_score_mean = round((student_data_df.loc[:,"reading_score"].mean()),1)
print(reading_score_mean)

81.9

In [28]:
# average of the math column
math_score_mean = round((student_data_df.loc[:,"math_score"].mean()),1)
print(math_score_mean)

79.0

In [26]:
#Calculate the percentage of students with a passing math score (70 or greadatter)
math_pass_count = student_data_df.loc[student_data_df['math_score'] >= 70].count()["Student ID"]
print(math_pass_count)
math_pass_percentage = round((math_pass_count / float(student_count) * 100),1)
print(math_pass_percentage)

29370
75.0

In [25]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass_count = student_data_df.loc[student_data_df['reading_score'] >= 70].count()["Student ID"]
print(reading_pass_count)
reading_pass_percentage = round((reading_pass_count / float(student_count)* 100),1)
print(reading_pass_percentage)

33610
85.8

In [24]:
#pass both reading and math
math_reading_combo_count = student_data_df.loc[(student_data_df['math_score'] >= 70) & (student_data_df['reading_score'] >= 70)].count()["Student ID"]
math_reading_pass_percentage = round((math_reading_combo_count / float(student_count)* 100),1)
print(math_reading_combo_count)
print(math_reading_pass_percentage)

25528
65.2

In [34]:
#district summary
district_summary = pd.DataFrame({"Total Number of Schools":[school_count],
                                "Total Number of Students":[student_count],
                                 "Total Budget":[total_budget],
                                "Math Pass Percent":[math_pass_percentage],
                                "Read Pass Percent":[reading_pass_percentage],
                                "Students that passed Math and Reading": [math_reading_pass_percentage]})
district_summary["Total Number of Students"]=district_summary["Total Number of Students"].map("{:,}".format)
district_summary

,Total Number of Schools,Total Number of Students,Total Budget,Math Pass Percent,Read Pass Percent,Students that passed Math and Reading
0,15,"39,170",24649428,75.0,85.8,65.2

In [42]:
#School Summary

    #Create an overview table that summarizes key metrics about each school, including:
    #School Name
    #School Type
    #Total Students
    #Total School Budget
    #Per Student Budget
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #% Overall Passing (The percentage of students that passed math and reading.)
        #Create a dataframe to hold the above results

In [40]:
#merge csv files into one csv file
school_data_combo_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_combo_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [39]:
#Group by school name and type - district vs charter
school_type = school_data_df.set_index(["school_name"])["type"]
print(school_type)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [43]:
#total number of students at each school
per_school_data_count = school_data_combo_df.groupby(['school_name']).count()["Student ID"]
print(per_school_data_count)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [45]:
#check to make sure the data is correct
school_data_combo_df[school_data_combo_df["school_name"]=="Bailey High School"].head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
17871,17871,Blake Martin,M,9th,Bailey High School,75,59,7,District,4976,3124928
17872,17872,Kathryn Kane,F,12th,Bailey High School,84,58,7,District,4976,3124928
17873,17873,Richard Haas,M,11th,Bailey High School,79,86,7,District,4976,3124928
17874,17874,Frank Marsh,M,9th,Bailey High School,71,89,7,District,4976,3124928
17875,17875,Charles Goodman Jr.,M,9th,Bailey High School,90,61,7,District,4976,3124928

In [46]:
#budget per school
per_school_budget_data = school_data_combo_df.groupby(["school_name"]).mean()["budget"]
print(per_school_budget_data)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [48]:
#budget per student at each school
per_student_budget = per_school_budget_data/per_school_data_count
print(per_student_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [49]:
#math score school average
math_score_average = round((school_data_combo_df.groupby(["school_name"]).mean()["math_score"]),1)
print(math_score_average)

school_name
Bailey High School       77.0
Cabrera High School      83.1
Figueroa High School     76.7
Ford High School         77.1
Griffin High School      83.4
Hernandez High School    77.3
Holden High School       83.8
Huang High School        76.6
Johnson High School      77.1
Pena High School         83.8
Rodriguez High School    76.8
Shelton High School      83.4
Thomas High School       83.4
Wilson High School       83.3
Wright High School       83.7
Name: math_score, dtype: float64

In [68]:
#passing math by schools
passing_math = school_data_combo_df[(school_data_combo_df["math_score"]>= 70)]
#print(passing_math)
passing_math_per_school = passing_math.groupby(["school_name"]).count()["student_name"]
#print(passing_math_per_school)
passing_math_per_school_percent =(passing_math_per_school / per_school_data_count) *100
passing_math_per_school_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [51]:
#reading score school average
reading_score_average = round((school_data_combo_df.groupby(["school_name"]).mean()["reading_score"]),1)
print(reading_score_average)

school_name
Bailey High School       81.0
Cabrera High School      84.0
Figueroa High School     81.2
Ford High School         80.7
Griffin High School      83.8
Hernandez High School    80.9
Holden High School       83.8
Huang High School        81.2
Johnson High School      81.0
Pena High School         84.0
Rodriguez High School    80.7
Shelton High School      83.7
Thomas High School       83.8
Wilson High School       84.0
Wright High School       84.0
Name: reading_score, dtype: float64

In [73]:
#passing reading by school
passing_reading = school_data_combo_df[(school_data_combo_df["reading_score"]>= 70)]
#print(passing_reading)
passing_reading_per_school = passing_reading.groupby(["school_name"]).count()["student_name"]
#print(passing_reading_per_school)
passing_reading_per_school_percent =(passing_reading_per_school / per_school_data_count) *100
passing_reading_per_school_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [139]:
#percent of students that are passsing math and reading - overall passing
##math_reading_combo_per_school_count = ('passing_reading' & 'passing_math').groupby(["school_name"]).count()["student_name"]
##print(math_reading_combo_per_school_count)
###overall_pass_percent = math_reading_combo_per_school_count/ float(per_school_data_count) * 100
###print(overall_pass_percent)


math_reading_combo_count_per_school = student_data_combo_df.loc[(student_data_combo_df['math_score'] >= 70) & 
                                                            (student_data_combo_df['reading_score'] >= 70)].count()["Student ID"]
math_reading_pass_percentage_per_school = round((math_reading_combo_count_per_school / float(student_count)* 100),1)
print(math_reading_combo_count_per_school)
print(math_reading_pass_percentage_per_school)

NameError: name 'student_data_combo_df' is not defined

In [ ]:
#Top performing schools (by % overall passing)
    #sort and display the top 5 performing schools by orverall %

In [94]:
#Bottom performing schools (by % overall passing)
    #sort and display the five worst performing schools by % overall passing

In [111]:
#Math Scores by Grade

    #Create a table that lists the average math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    #Create a pandas series for each grade. Hint: use a conditional statement.
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting

In [ ]:
#Reading Scores by Grade

    #Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    #Create a pandas series for each grade. Hint: use a conditional statement.
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting

In [ ]:
#Scores by School Spending

    #Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)

In [ ]:
#Scores by School Size
    #Create a table that breaks down school performances based on average score Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)

In [ ]:
#Scores by School Type
    #Create a table that breaks down school performances based on average score Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)