### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [10]:
#total number of schools
school_count = len(school_data_complete_df["school_name"].unique())
print(school_count)

15

In [11]:
student_count = school_data_complete_df["Student ID"].count()
student_count
    #total_rows = len(school_data_df.axes[1]) didn't work
#school_data_complete_df.count(axis=0) - This one works also breakdow of each column
    #Calculate the number of unique students in the DataFrame
        #student_count = len(school_data_complete_df["student_name"].unique())
        #print(student_count) - 32715 total count not correct taking out repeated names
        #print(total_rows)  - didn't work

39170

In [12]:
# Total budget
total_budget = school_data_complete_df["budget"].sum()
print (total_budget)

82932329558

In [13]:
# mean of the reading column
# mean of the math column
reading_score_mean = school_data_complete_df.loc[:,"reading_score"].mean()
math_score_mean = school_data_complete_df.loc[:,"math_score"].mean()
print(math_score_mean)
print(reading_score_mean)

78.98537145774827
81.87784018381414

In [31]:
#Calculate the percentage of students with a passing math score (70 or greadatter)
math_pass_count = school_data_complete_df.loc[school_data_complete_df['math_score'] >= 70].count()["Student ID"]
print(math_pass_count)
math_pass_percentage = math_pass_count / float(student_count) * 100
print(math_pass_percentage)

29370
74.9808526933878

In [30]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass_count = school_data_complete_df.loc[school_data_complete_df['reading_score'] >= 70].count()["Student ID"]
print(reading_pass_count)
reading_pass_percentage = reading_pass_count / float(student_count)* 100
print(reading_pass_percentage)

33610
85.80546336482001

In [36]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
#math_and_reading_count = school_data_complete_df.loc[school_data_complete_df['math_score','reading_score'] >= 70].count()["Student ID"]
#math_and_reading_percentage = (math_pass_count,reading_pass_count)/ (student_count)*100
#print(math_and_reading_percentage)
#math_reading_combo_count = school_data_complete_df.loc [:,['math_pass_percentage','reading_pass_percentage'] >=70].count
#math_reading_combo_percentage = (float(reading_pass_percentage), float(math_pass_percentage)).sum
#print(math_reading_combo_percentage)
the_total_count = reading_pass_count + math_pass_count
print(the_total_count)
the_total_percentage = reading_pass_percentage + math_pass_percentage
total_percentage = student_count /  float(the_total_count) * 100
print(total_percentage)

62980
62.194347411876784

In [21]:
school_data_complete_df.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [ ]:
#district Summary
district_summary = pd.DataFrame({"total_school":[school_count],
                                "student_count":[student_count],
                                "math_pass_percentage":[math_pass_percentage]
                                "read_pass_percentage":[reading_pass_percentage]})
district_summary["student_count"]=district_summary["student_count"].map("{:,}".format)
district_summary

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type