### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [22]:
#total number of schools
school_count = len(school_data_complete_df["school_name"].unique())
print(school_count)

15

In [23]:
student_count = school_data_complete_df["Student ID"].count()
student_count
    #total_rows = len(school_data_df.axes[1]) didn't work
#school_data_complete_df.count(axis=0) - This one works also breakdow of each column
    #Calculate the number of unique students in the DataFrame
        #student_count = len(school_data_complete_df["student_name"].unique())
        #print(student_count) - 32715 total count not correct taking out repeated names
        #print(total_rows)  - didn't work

39170

In [24]:
# Total budget
total_budget = school_data_complete_df["budget"].sum()
print (total_budget)

82932329558

In [25]:
# mean of the reading column
# mean of the math column
reading_score_mean = school_data_complete_df.loc[:,"reading_score"].mean()
math_score_mean = school_data_complete_df.loc[:,"math_score"].mean()
print(math_score_mean)
print(reading_score_mean)

78.98537145774827
81.87784018381414

In [26]:
#Calculate the percentage of students with a passing math score (70 or greadatter)
math_pass_count = school_data_complete_df.loc[school_data_complete_df['math_score'] >= 70].count()["Student ID"]
print(math_pass_count)
math_pass_percentage = math_pass_count / float(student_count) * 100
print(math_pass_percentage)

29370
74.9808526933878

In [27]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass_count = school_data_complete_df.loc[school_data_complete_df['reading_score'] >= 70].count()["Student ID"]
print(reading_pass_count)
reading_pass_percentage = reading_pass_count / float(student_count)* 100
print(reading_pass_percentage)

33610
85.80546336482001

In [28]:
#pass both reading and math

math_reading_combo_count = school_data_complete_df.loc[(school_data_complete_df['math_score'] >= 70) & (school_data_complete_df['reading_score'] >= 70)].count()["Student ID"]
math_reading_pass_percentage = math_reading_combo_count / float(student_count)* 100
print(math_reading_combo_count)
print(math_reading_pass_percentage)

25528
65.17232575950983

In [29]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
the_total_count = reading_pass_count + math_pass_count
print(the_total_count)
the_total_percentage = reading_pass_percentage + math_pass_percentage
total_percentage = student_count /  float(the_total_count) * 100
print(total_percentage)

62980
62.194347411876784

In [30]:
#district Summary
district_summary = pd.DataFrame({"total school":[school_count],
                                "student count":[student_count],
                                "math pass percentage":[math_pass_percentage],
                                "read pass percentage":[reading_pass_percentage],
                                "Students that passed Math and Reading": [total_percentage]})
#district_summary["student_count"]=district_summary["student_count"].map("{:,}".format)
district_summary

,total school,student count,math pass percentage,read pass percentage,Students that passed Math and Reading
0,15,39170,74.980853,85.805463,62.194347

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [31]:
#Group by school name and type
per_school_data_count = school_data_complete_df.groupby(['school_name']).count()["Student ID"]
print(per_school_data_count)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [32]:
#check to make sure the data is correct
school_data_complete_df[school_data_complete_df["school_name"]=="Bailey High School"]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
17871,17871,Blake Martin,M,9th,Bailey High School,75,59,7,District,4976,3124928
17872,17872,Kathryn Kane,F,12th,Bailey High School,84,58,7,District,4976,3124928
17873,17873,Richard Haas,M,11th,Bailey High School,79,86,7,District,4976,3124928
17874,17874,Frank Marsh,M,9th,Bailey High School,71,89,7,District,4976,3124928
17875,17875,Charles Goodman Jr.,M,9th,Bailey High School,90,61,7,District,4976,3124928
...,...,...,...,...,...,...,...,...,...,...,...
22842,22842,Jaclyn Ayala,F,12th,Bailey High School,74,93,7,District,4976,3124928
22843,22843,Jennifer Tapia,F,12th,Bailey High School,79,56,7,District,4976,3124928
22844,22844,Gabriel Ashley,M,9th,Bailey High School,95,88,7,District,4976,3124928
22845,22845,Sarah Cooper,F,10th,Bailey High School,91,62,7,District,4976,3124928
22846,22846,Dr. Nicholas Garcia,M,11th,Bailey High School,90,79,7,District,4976,3124928

In [33]:
# variable for budget per school
per_school_data_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
print(per_school_data_budget)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [34]:
# budget per student - by school
per_student_budget = per_school_data_budget/per_school_data_count
print(per_student_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [35]:
# math score school mean
math_score_school_mean = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
print(math_score_school_mean)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [36]:
# math pass by school
math_pass_school = school_data_complete_df[school_data_complete_df["math_score"]>= 70]
math_pass_school.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [37]:
#math pass percent by school

In [38]:
# read score school mean
reading_score_school_mean = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
print(reading_score_school_mean)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [51]:
# read pass by school
reading_pass_school = school_data_complete_df[school_data_complete_df["reading_score"]>= 70]
reading_pass_school.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [85]:
# read pass percent by school

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type